input {
  padding: 1.4rem 1rem;
  outline: none;
  border: 0.1rem solid #cfd4d9;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  font-size: 2.0rem;
  font-family: 'Noto Serif HK', serif;
  color: #6c6c6c;
}